<h1> <%= @track.title %> </h1>

<% if @track.errors.full_messages %>
  <% @track.errors.full_messages.each do |error_msg| %>
    <div>
      <%= error_msg %>
    </div>
  <% end %>
<% end %>

<table>
  <tr>
    <td>
    <strong>Album:</strong>
    </td>
    <td>
    <%= link_to "#{@track.album.title}", album_url(@track.album), method: :get %>
    </td>
  </tr>

  <% if @track.bonus? == 'true' %>
  <tr>
    <td>
      <strong> Bonus Track </strong>
    </td>
  </tr>
  <% end %>

</table>
<br>
<strong> Lyrics </strong>
<% if @track.lyrics %>
<p><%= ugly_lyrics(@track.lyrics) %></p>
<% else %>
<p> This song is either an instrumental or no lyrics have been posted yet! </p>
<% end %>
<br>

<%= button_to "Edit Track", edit_track_url(@track), method: :get %>
<%= button_to "Delete Track", track_url(@track), method: :delete %>

<br>
<%= link_to "Return to #{@track.album.title}", album_url(@track.album), method: :get %>


<%= render 'note', track: @track %>

<%= render 'form', track: @track %>
