<h1> Edit an Album </h1>

<form class="" action=" <%= album_url %>" method="post">
  <input type="hidden" name=_method value="patch">
<%= auth_token %>
  <label for="GET-title">Title:</label>
  <input type="text" name="album[title]" value="<%= @album.title %>">
  <br>
  <label for="GET-band">Band:</label>
  <select name="album[band_id]">
    <option disabled selected> Select a Band </option>
    <% Band.all.each do |band| %>
      <% if @album.band = band %>
      <option value="<%= band.id %>" selected><%= band.name %></option>

      <% else %>
      <option value="<%= band.id %>"><%= band.name %></option>
      <% end %>
    <% end %>
  </select>
  <br>
  <label for="GET-live">Recording Style:</label>
    <% if @album.live? == 'Live' %>
    <input type="radio" name="album[live?]" id="Live" value="Live" checked>
    <label for="Live"> Live </label>
    <input type="radio" name="album[live?]" id="Studio" value="Studio">
    <label for="Studio"> Studio </label>
    <% else %>
    <input type="radio" name="album[live?]" id="Live" value="Live">
    <label for="Live"> Live </label>
    <input type="radio" name="album[live?]" id="Studio" value="Studio" checked>
    <label for="Studio"> Studio </label>
    <% end %>
  <br>
  <button>Edit Album</button>

</form>
