<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if logged_in? %>
    <%= current_user.email %>
    <%= button_to "Logout", session_url(current_user.id), method: :delete %>
  <% else %>
    <%= button_to "Create Account", new_user_url, method: :get %>
    <%= button_to "Log In", new_session_url, method: :get %>
  <% end %>
</head>
<body>
  <% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error_msg| %>
      <li> <%=error_msg%></li>
    <% end %>

  </ul>
  <% end %>

<%= yield %>

</body>
</html>
